@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@charset "UTF-8";

#ProductImg {
    height: 265px;
    left: 50%;
    margin-left: -273px; /*half width*/
    margin-top: -132px; /*half height*/

    position: absolute;
    text-align: Left;
    top: 35%;
}

#Beschrijving {
    font-family: 'Lato', sans-serif;
    height: 265px;
    left: 50%;
    margin-left: -273px; /*half width*/
    margin-top: -132px; /*half height*/

    position: absolute;
    text-align: left;
    top: 65%;
    width: 600px;
}

#Titel { color: #0000FF; }

#Prijs {
    font-family: 'Lucida Handwriting', sans-serif;
    height: 265px;
    left: 65%;
    margin-left: -273px; /*half width*/
    margin-top: -132px; /*half height*/

    position: absolute;
    text-align: left;
    top: 35%;
    width: 600px;
}

#Aanbevolen {
    color: #dc143c;
    font-family: 'Lato', sans-serif;
    height: 265px;
    left: 50%;
    margin-left: -273px; /*half width*/
    margin-top: -132px; /*half height*/
    position: absolute;
    text-align: left;
    top: 85%;
    width: 600px;
}

#Login {
    color: #dc143c;
    font-family: 'Lato', sans-serif;
    height: 265px;
    left: 50%;
    margin-left: -273px; /*half width*/
    margin-top: -132px; /*half height*/
    position: absolute;
    text-align: left;
    top: 35%;
    width: 600px;
}

#list {
    font-family: 'Lato', sans-serif;
    height: 265px;
    left: 50%;
    margin-left: -273px; /*half width*/
    margin-top: -132px; /*half height*/

    position: absolute;
    text-align: left;
    top: 35%;
    width: 600px;
}

.container {
    font-family: 'Lato', sans-serif;
    height: 265px;
    left: 50%;
    margin-left: -273px; /*half width*/
    margin-top: -132px; /*half height*/

    position: absolute;
    text-align: left;
    top: 35%;
    width: 600px;
}

#ListProducts {
    position: absolute;
    left: 50%;
    top: 35%;
    text-align: Left;
    width: 175px;
    height:265px;
    
    margin-left: -273px; /*half width*/
    margin-top: -132px; /*half height*/
    font-family: bold, 'Lato', sans-serif;
}